$red: #F56C6C;
$blue: #409EFF;
$green: #67C23A;
$yellow: #E6A23C;
$gray: #666;
$cyan: #00eedd;

$colors: (
        red: $red,
        blue: $blue,
        green: $green,
        yellow: $yellow,
        gray: $gray,
        cyan: $cyan,
);

$colors_key: #0000ff;

$mainHeight: calc(100vh - 151px);
$innerTabHeight: calc(100vh - 184px);
$minWidth: 870px;